body {
    padding-top: 40px;
}

.center {
    width: min(100% - 40px, 760px);
    margin: 0 auto;
}

.styled-table {
    border: 3px solid #000;
    width: 688px;
    height: 680px;
    border-collapse: collapse;
}

td {
    border: 5px solid #000;
}

.color-yellow {
    background: yellow;
}

.color-red {
    background: red;
}

.color-balck {
    background: #000
}

.color-blue {
    background: blue;
}